*{
    margin: 0;
    padding: 0;
}
#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #78e388;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar p
{
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 22px;
}
img
{
    height: 400px;
    width: 1380px;
}
